@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

$font-main: "Montserrat", sans-serif;
$font-secondary: "Comfortaa", sans-serif;
$bg-dark: rgb(0, 0, 0);
$bg-light: rgb(255, 255, 255);
$title-light: rgb(255, 0, 0);
$title-dark:rgb(255, 255, 0);
$color-hover: rgb(95, 241, 17);