@use '../utils/variables' as *;

.dark-mode{
    background-color: $bg-dark;
    color: white;

    .Navbarmobile{

        .menu-items{
            background-color: $bg-dark;
        } 
    }
    nav{
        background-color: $bg-dark;

        a{
            color: $bg-light !important;
            background-color: $bg-dark;
        }
        span{
            color: $title-dark;
        }
    }
    div{
        p{
            color: $bg-light !important;
            background-color: $bg-dark;
        }
    }
    svg{
        fill: $title-dark;
    }
    .popup{
        background-color: $bg-dark;
    }
    h2{
        color: $bg-light !important;
    }
    
}
#btndarkmode {
    position: absolute;
    z-index: 1002;
    top: 1vh;
    right: 2vw;
    height: 5vh;
}

@media all and (min-width: 1000px){
    
    #btndarkmode {
        position: absolute;
        top: 1vh;
        right: 1vw;
        width: 2vw;
      }
}