@use '../utils/variables' as *;


.popup1{
  z-index: 102;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  .popup {
    margin: 275px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 70%;
    height: 35vh;
    position: relative;
    transition: all 2s ease-in-out;
    z-index: 101;
  }
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06d85f;
  }
  .popup .contentpopup {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 4vw;
  }
  .PopupRow {
    display: flex;
    flex-direction: row;
    gap: 2.5vw;
  }
  .PopupRow svg {
    width: 2vh;
  }
  .Reseaux {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5vw;
    padding-top: 1vh;
  }
  .Reseaux svg {
    width: 5vh;
  }

@media screen and (max-width: 700px) {
    .popup {
      width: 70%;
    }
    
}

@media all and (min-width: 1000px) {
    .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        transition: opacity 500ms;
        visibility: hidden;
        opacity: 0;
      }
      .overlay:target {
        visibility: visible;
        opacity: 1;
      }
      .popup {
        margin: 70px auto;
        padding: 20px;
        background: #fff;
        border-radius: 5px;
        width: 30%;
        height: 45vh;
        position: relative;
        transition: all 2s ease-in-out;
      }
      .popup h2 {
        margin-top: 0;
        color: #333;
        font-family: Tahoma, Arial, sans-serif;
      }
      .popup .close {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
      }
      .popup .close:hover {
        color: #06d85f;
      }
      .popup .contentpopup {
        max-height: 70%;
        overflow: none;
        display: flex;
        flex-direction: column;
        gap: 1vw !important ;
        font-size: 2vh
      }
      .PopupRow {
        display: flex;
        flex-direction: row;
        gap: 1vh !important ;
      }
      .PopupRow svg {
        width: 2vh;
      }
      .Reseaux {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 1vh !important; 
        padding-top: 1vh;
      }
      .Reseaux svg {
        width: 5vh;
      }
}