
@use 'pages/commands';
@use 'pages/diagrammes';
@use 'pages/merise';
@use 'pages/home';
@use 'layouts/nav';
@use 'layouts/darkmod';
@use 'layouts/popup';


*{
    margin: 0;
    padding: 0;
}


body {
    background-color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    margin: 0;
    height: 100%;
  }  

 footer{
    position: absolute;
    bottom: 0;
 } 

@media all and (min-width: 1000px) {
    body{
        display: flex;
        margin-top: 0vh;
        height: 100%;

    }
    
}